### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

### Creating Random Dataset with Categorical and Continous Variables

In [2]:
np.random.seed(0)
data = pd.DataFrame({
    'age': np.random.randint(18, 70, size=100),
    'income': np.random.randint(20000, 100000, size=100),
    'score': np.random.uniform(0, 1, size=100),
    'gender': np.random.choice(['Male', 'Female'], size=100),
    'city': np.random.choice(['New York', 'Los Angeles', 'Chicago'], size=100),
    'purchased': np.random.choice([0, 1], size=100)
})

### EDA

In [3]:
data.head()

   age  income     score  gender         city  purchased
0   62   57237  0.998847  Female      Chicago          0
1   65   99701  0.149448    Male  Los Angeles          1
2   18   28752  0.868126  Female     New York          0
3   21   91331  0.162493  Female      Chicago          0
4   21   70624  0.615560    Male     New York          0

In [4]:
data.describe()

              age        income       score   purchased
count  100.000000    100.000000  100.000000  100.000000
mean    41.570000  61144.980000    0.470791    0.460000
std     15.537023  24686.931926    0.291330    0.500908
min     18.000000  20469.000000    0.011714    0.000000
25%     29.000000  36709.250000    0.212445    0.000000
50%     41.000000  59264.000000    0.453620    0.000000
75%     55.250000  83122.750000    0.718159    1.000000
max     69.000000  99983.000000    0.998847    1.000000

In [5]:
data.isnull().sum()

age          0
income       0
score        0
gender       0
city         0
purchased    0
dtype: int64

In [8]:
for col in data.columns:
    print(f'{col}  ->  {type(col)}')

age  ->  <class 'str'>
income  ->  <class 'str'>
score  ->  <class 'str'>
gender  ->  <class 'str'>
city  ->  <class 'str'>
purchased  ->  <class 'str'>

### Transforming categorical and continous columns using StandardScalar and OneHotEncoder Transformers

In [9]:
numeric_features = ['age', 'income', 'score']
categorical_features = ['gender', 'city']

### Combine Transformers using ColumnTransformer

In [10]:
numeric_transformer = StandardScaler()
categorical_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

### Splitting the dataset

In [11]:
X = data.drop('purchased', axis=1)
y = data['purchased']

In [17]:
X

    age  income     score  gender         city
0    62   57237  0.998847  Female      Chicago
1    65   99701  0.149448    Male  Los Angeles
2    18   28752  0.868126  Female     New York
3    21   91331  0.162493  Female      Chicago
4    21   70624  0.615560    Male     New York
..  ...     ...       ...     ...          ...
95   32   50752  0.716860    Male      Chicago
96   33   99464  0.396060    Male      Chicago
97   38   91892  0.565421    Male      Chicago
98   53   53930  0.183280    Male     New York
99   41   66774  0.144848  Female      Chicago

[100 rows x 5 columns]

In [18]:
y

0     0
1     1
2     0
3     0
4     0
     ..
95    1
96    1
97    1
98    0
99    0
Name: purchased, Length: 100, dtype: int32

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

### Transforming the dataset

In [13]:
X_train = preprocessor.fit_transform(X_train)
X_test = preprocessor.transform(X_test)

In [19]:
X_train

array([[-0.33370406, -1.52357347, -1.06562026,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ],
       [ 0.85977871, -1.14030493, -0.95844338,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ],
       [-1.33874219,  1.19152386, -1.14834894,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ],
       [-1.46437196,  0.06245833,  0.48000109,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ],
       [ 0.92259359,  1.22370118,  0.86595873,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ],
       [-0.96185289, -1.35906239, -0.82768535,  0.        ,  1.        ,
         0.        ,  0.        ,  1.        ],
       [-0.96185289,  0.5400036 ,  1.24454579,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ],
       [-0.08244453,  0.20256459, -1.20994209,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ],
       [ 0.67133406, -1.23603146, -0.97095739,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ],
       [-0.83622313, -1.04030958,  1.61030818,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ],
       [ 0.73414894, -1.60407718,  1.41441157,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ],
       [-1.52718684,  0.43610186,  0.83560755,  1.        ,  0.        ,
         0.        ,  0.        ,  1.        ],
       [ 1.42511265, -1.17453613,  0.33270435,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ],
       [ 1.11103824,  0.74144409, -0.37701641,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ],
       [-0.89903801, -1.052069  , -0.62718444,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ],
       [-0.96185289,  0.91924493, -0.51005285,  0.        ,  1.        ,
         0.        ,  0.        ,  1.        ],
       [ 0.92259359,  0.79842896, -0.45899725,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ],
       [ 0.23162988,  0.03092536, -1.48081008,  0.        ,  1.        ,
         0.        ,  0.        ,  1.        ],
       [ 0.98540847, -1.12105492,  0.59901959,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ],
       [ 0.67133406, -0.14917098,  1.07014799,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ],
       [ 1.42511265,  1.52860042, -1.19388319,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ],
       [-1.21311242,  0.4164894 ,  1.74137267,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ],
       [-0.33370406,  0.15782241, -0.98306377,  0.        ,  1.        ,
         0.        ,  0.        ,  1.        ],
       [ 0.29444476,  1.0826284 , -0.32550429,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ],
       [-1.33874219,  0.35761175,  0.4331486 ,  0.        ,  1.        ,
         0.        ,  0.        ,  1.        ],
       [-0.77340824, -1.16390432,  1.68965015,  1.        ,  0.        ,
         0.        ,  0.        ,  1.        ],
       [ 0.85977871, -0.22234518, -1.6746653 ,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ],
       [ 1.67637219, -1.13180754, -0.62666394,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ],
       [-0.01962965, -1.34742378,  0.34361483,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ],
       [ 0.92259359, -0.0648817 , -1.28334272,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ],
       [-1.33874219,  1.19357773,  1.29986345,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ],
       [-1.52718684, -0.98280118,  0.15745574,  1.        ,  0.        ,
         0.        ,  0.        ,  1.        ],
       [ 1.23666801, -0.18150938,  1.77107134,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ],
       [ 1.42511265,  1.17166977, -0.88515424,  0.        ,  1.        ,
         0.        ,  0.        ,  1.        ],
       [-0.27088918,  0.5884508 ,  1.52405292,  0.        ,  1.        ,
         0.        ,  0.        ,  1.        ],
       [ 0.42007453, -0.03802028, -0.1991582 ,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ],
       [-0.08244453,  1.40746227,  0.71892544,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ],
       [-1.52718684, -0.31509158,  1.54546005,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ],
       [ 0.79696383,  0.41056942, -1.01743699,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ],
       [-0.08244453,  1.15326547,  0.71513709,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ],
       [ 0.73414894,  1.36952606, -1.47411723,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ],
       [ 1.67637219,  1.48812707, -1.14066524,  1.        ,  0.        ,
         0.        ,  0.        ,  1.        ],
       [-1.27592731, -1.05335771,  0.93168021,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ],
       [ 0.60851918, -0.89146431,  0.65596806,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ],
       [ 0.168815  ,  1.53995712,  1.59138513,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ],
       [-0.27088918,  0.09028628, -0.99134943,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ],
       [-1.21311242,  1.49747017,  0.45380919,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ],
       [ 1.11103824,  0.62920606, -1.62597549,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ],
       [-0.01962965, -1.58373982,  1.30868335,  0.        ,  1.        ,
         0.        ,  0.        ,  1.        ],
       [-1.27592731,  0.54471542, -0.74645013,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ],
       [-0.08244453, -1.41850385,  0.83258729,  1.        ,  0.        ,
         0.        ,  0.        ,  1.        ],
       [ 1.67637219, -0.74253848,  0.74330984,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ],
       [ 0.48288941,  0.45353963, -1.51299553,  0.        ,  1.        ,
         0.        ,  0.        ,  1.        ],
       [-0.27088918,  1.21411645,  0.25813345,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ],
       [ 0.67133406, -0.31468886, -1.07578912,  0.        ,  1.        ,
         0.        ,  0.        ,  1.        ],
       [ 0.42007453, -0.14216365,  0.33805471,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ],
       [ 1.36229777,  0.61011713, -1.11645576,  0.        ,  1.        ,
         0.        ,  0.        ,  1.        ],
       [ 0.98540847, -1.56936272, -1.2545514 ,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ],
       [ 0.92259359,  1.30919862,  1.3305639 ,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ],
       [ 1.36229777, -0.55003837,  0.68422664,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ],
       [-0.71059336, -0.7423774 ,  1.05496669,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ],
       [ 0.67133406, -0.33047548,  0.15415216,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ],
       [-0.64777848,  0.90527055, -0.8291334 ,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ],
       [ 0.48288941, -0.80512116, -0.00353449,  1.        ,  0.        ,
         0.        ,  0.        ,  1.        ],
       [ 1.55074242, -0.92690366,  0.83304619,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ],
       [-0.5849636 , -1.27485365, -1.64346965,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ],
       [-1.52718684,  1.16035334, -0.13185769,  1.        ,  0.        ,
         0.        ,  0.        ,  1.        ],
       [-1.15029754, -0.68329839, -0.13239581,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ],
       [-1.15029754, -1.61104423, -0.09737501,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ],
       [-1.46437196, -1.66222993,  1.18534514,  1.        ,  0.        ,
         0.        ,  0.        ,  1.        ],
       [-1.27592731, -0.26958423, -0.40945822,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ],
       [-0.39651895,  1.50552457,  0.42758587,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ],
       [-0.01962965,  1.32554904,  0.10320193,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ],
       [-0.77340824, -1.04719609,  0.09330282,  1.        ,  0.        ,
         0.        ,  0.        ,  1.        ],
       [ 1.6135573 ,  0.99733232, -0.29422025,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ],
       [-0.5849636 ,  1.51905596, -0.33304884,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ],
       [ 1.04822336, -0.13487442, -0.59848686,  1.        ,  0.        ,
         0.        ,  0.        ,  1.        ],
       [-0.45933383, -0.25190482, -0.79638853,  1.        ,  0.        ,
         0.        ,  0.        ,  1.        ],
       [-1.46437196,  0.72372442, -0.92172996,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ],
       [-0.64777848,  0.35608142,  1.58091945,  1.        ,  0.        ,
         0.        ,  0.        ,  1.        ]])

In [20]:
X_test

array([[-1.02466778, -0.40107228, -0.93391212,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ],
       [-0.83622313, -1.47560953, -0.23312628,  1.        ,  0.        ,
         0.        ,  0.        ,  1.        ],
       [-1.52718684, -1.32865703,  1.31477011,  1.        ,  0.        ,
         0.        ,  0.        ,  1.        ],
       [ 1.6135573 ,  1.07642651, -1.62941025,  0.        ,  1.        ,
         0.        ,  0.        ,  1.        ],
       [ 0.85977871, -0.99750046, -1.06756477,  0.        ,  1.        ,
         0.        ,  0.        ,  1.        ],
       [ 0.73414894, -0.86903281,  0.09043488,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ],
       [-1.46437196,  1.49142937,  1.27175581,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ],
       [ 1.04822336, -0.29221709, -0.76071527,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ],
       [-0.83622313,  1.10042862, -1.08862131,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ],
       [-0.64777848, -0.44267324,  0.78675196,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ],
       [ 0.67133406,  0.50436289, -0.3969552 ,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ],
       [-0.77340824,  0.24408501, -1.30529238,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ],
       [-0.39651895, -1.07240636, -0.96329297,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ],
       [-0.01962965, -1.1243975 ,  0.8048891 ,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ],
       [-0.33370406,  0.84619154,  1.10251374,  1.        ,  0.        ,
         0.        ,  0.        ,  1.        ],
       [-0.52214871, -0.19306745, -1.60441649,  0.        ,  1.        ,
         0.        ,  0.        ,  1.        ],
       [-0.45933383, -1.10708054, -1.52588012,  0.        ,  1.        ,
         0.        ,  0.        ,  1.        ],
       [ 0.04318523, -0.18811399, -1.65090196,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ],
       [-0.5849636 ,  1.53677563,  0.29934853,  1.        ,  0.        ,
         0.        ,  0.        ,  1.        ],
       [-0.2080743 ,  0.27940355,  0.27097705,  1.        ,  0.        ,
         0.        ,  0.        ,  1.        ]])

### Defining models

In [14]:
models = {
    "Decision Tree": DecisionTreeClassifier(),
    "Random Forest": RandomForestClassifier(),
    "KNN": KNeighborsClassifier(),
    "Naive Bayes": GaussianNB(),
    "SVM": SVC(),
    "Logistic Regression": LogisticRegression()
}

### Training the models

In [15]:
results = {}

for model_name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    report = classification_report(y_test, y_pred)
    results[model_name] = {"accuracy": accuracy, "report": report}

### Results

In [16]:
results

{'Decision Tree': {'accuracy': 0.35,
  'report': '              precision    recall  f1-score   support\n\n           0       0.40      0.36      0.38        11\n           1       0.30      0.33      0.32         9\n\n    accuracy                           0.35        20\n   macro avg       0.35      0.35      0.35        20\nweighted avg       0.35      0.35      0.35        20\n'},
 'Random Forest': {'accuracy': 0.6,
  'report': '              precision    recall  f1-score   support\n\n           0       0.62      0.73      0.67        11\n           1       0.57      0.44      0.50         9\n\n    accuracy                           0.60        20\n   macro avg       0.59      0.59      0.58        20\nweighted avg       0.60      0.60      0.59        20\n'},
 'KNN': {'accuracy': 0.5,
  'report': '              precision    recall  f1-score   support\n\n           0       0.54      0.64      0.58        11\n           1       0.43      0.33      0.38         9\n\n    accuracy                           0.50        20\n   macro avg       0.48      0.48      0.48        20\nweighted avg       0.49      0.50      0.49        20\n'},
 'Naive Bayes': {'accuracy': 0.65,
  'report': '              precision    recall  f1-score   support\n\n           0       0.67      0.73      0.70        11\n           1       0.62      0.56      0.59         9\n\n    accuracy                           0.65        20\n   macro avg       0.65      0.64      0.64        20\nweighted avg       0.65      0.65      0.65        20\n'},
 'SVM': {'accuracy': 0.7,
  'report': '              precision    recall  f1-score   support\n\n           0       0.73      0.73      0.73        11\n           1       0.67      0.67      0.67         9\n\n    accuracy                           0.70        20\n   macro avg       0.70      0.70      0.70        20\nweighted avg       0.70      0.70      0.70        20\n'},
 'Logistic Regression': {'accuracy': 0.65,
  'report': '              precision    recall  f1-score   support\n\n           0       0.67      0.73      0.70        11\n           1       0.62      0.56      0.59         9\n\n    accuracy                           0.65        20\n   macro avg       0.65      0.64      0.64        20\nweighted avg       0.65      0.65      0.65        20\n'}}